[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
pandas = "*"
pymongo = "*"
neo4j = "*"
pymysql = "*"
flask = "*"
sqlalchemy = "*"
plotly = "*"
geopy = "*"
certifi = "*"

[dev-packages]

[requires]
python_version = "3.9"
